

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading lora_font" style = "red" >My Music App</h1>
                        <p class="intro-text">A free, responsive, music app page.<br>Created by Eddie.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Music App</h2>
                <p>The is a Music App page that displays the artist and songs. This was developed using Ruby on Rails, Bootstrap css, and Grayscale css.</p>
            </div>
        </div>
    </section>
